<div class="ui card reverse images" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{name}}</a>
    <div class="meta">
      <span class="date">Joined in {{joined}}</span><br>
      <span class="date">{{job}}</span><br>
    </div>
    <div class="description">
      <a class="header"><h4>{{name}}'s favourite Anime is:</h4><h3>{{title}}</h3></a><br>
      {{plot}} <p>
      <a class="header"><h4>{{name}}'s contact details:</h4>
      </a></p>
      <a class="header"><h3>Number: {{number}}</h3>
        <a class="header"><h3>Email: {{email}}</h3>
      </a>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{Reccomendations}} Users recommended this show
    </a>
  </div>
</div>